*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:'Inter',sans-serif;
    background:linear-gradient(pink,white);
    color:black;
}
h1,h2,h3,h4{
    font-family:'Cormorant Garamond',serif;
    font-weight:600;
}
button{
    cursor:pointer;
    border:none;
    font-family:inherit;
}
.container{
    display:flex;
    min-height:100vh;
}    
.sidebar{
    background:linear-gradient(pink,white);
    border-right:1px solid black;
    padding:35px 22px;
    display:flex;
    flex-direction:column;
    width: 400px;
}
.logo{
    display:flex;
    align-items:center;
    gap:12px;
    margin-bottom:40px;
}
.logo i{
    color:#b45b34;
    font-size:28px;
    font-weight:bold;
}
.logo span{
    font-size:18px;
    color:#7d7068;
    font-weight:bold;
}
.logo h2{
    font-size:34px;
    line-height:28px;
}
.hero{
    display:grid;
    grid-template-columns: 450px 400px;
    column-gap:5px;
    margin-top:30px;
    align-items:start;
}
.receipt{
    padding-top:5px;
    display:flex;
    flex-direction:column;
    gap:1px;
    background:white;
    border-radius:18px;
    padding: 20px 25px;
    transform: rotate(355deg);
}
.receipt small{
    display:block;
    margin-bottom:2px;
}
.receipt h2{
    margin-bottom:5px;
}
.dates{
    display:flex;
    flex-direction:column;
    gap:10px;
    margin-top:20px;
}
.dates div{
    display:flex;
    justify-content:space-between;
    margin-bottom:20px;
}
.items{
    display:flex;
    flex-direction:column;
    gap:10px;
    margin-top:20px;
}
.items div{
    display:flex;
    justify-content:space-between;
    margin-bottom:12px;
}
.total{
    margin-top:18px;
}
.cards{
    display:grid;
    grid-template-columns:repeat(3,300px);
    gap:28px;
    margin-top:55px;
}
.card{
    background:white;
    border-radius:24px;
    padding:32px;
    min-height:400px;
}
.card-top{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    gap:8px;
    margin-bottom:20px;
}
.card-top span{
    font-size:18px;
}
.menu{
    list-style:none;
}
.menu li{
    display:flex;
    align-items:center;
    gap:14px;
    padding:14px 18px;
    margin-bottom:12px;
    border-radius:14px;
    color:#555;
    transition:.3s;
    position:relative;
}
.menu li:hover{
    background:pink;
}
.menu li.active{
    background:pink;
    box-shadow:0 10px 25px rgba(0,0,0,.05);
}
.menu li i{
    width:20px;
    color:#7d7068;
}
.weather{
    margin-top:auto;
    background:linear-gradient(pink,white);
    border-radius:20px;
    padding:20px;
    position:relative;
    overflow:hidden;
}
.weather p{
    font-size:11px;
    letter-spacing:2px;
    color:#7a5c2e;
}
.weather span{
    font-size:14px;
    color:#6f5b2f;
}
.sun{
    position:absolute;
    width:100px;
    height:100px;
    background:#ffcf57;
    border-radius:50%;
    top:-35px;
    right:-25px;
}
.welcome-card{
    padding-top:5px;
    display:flex;
    flex-direction:column;
    gap:10px;
    background: #332924;
    color:white;
    border-radius:20px;
    padding: 30px 25px;
    transform: rotate(5deg);
}

.welcome-card h3{
    margin-top:8px;
}

.welcome-card h2{
    margin-bottom:15px;
}

.welcome-card p{
    line-height:1.7;
    margin:18px 0 20px;
}
.footer{
    margin-top:30px;
    color:#8d837a;
    font-size:12px;
    line-height:1.8;
}
.content{
    flex:1;
    max-width:1000x;
    padding:55px 70px;
}
header{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
}
.small-title{
    letter-spacing:3px;
    color:#988c82;
    font-size:12px;
}
header h1{
    font-size:64px;
    margin-top:8px;
}
header h1 span{
    color:#b45b34;
    font-style:italic;
}
.buttons{
    display:flex;
    gap:15px;
}
.outline{
    background:white;
    border:1px solid #ddd;
    padding:14px 22px;
    border-radius:30px;
}
.dark{
    background:#332924;
    color:white;
    padding:14px 25px;
    border-radius:30px;
}
